/* home page */
:root{
    --body-font-size:16px;
    --body-font-weight:400;
    --body-line-height:30px;
    --text-color:#222222;
    --nex-orange:rgb(211, 114, 3);

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    height: auto;
    justify-content: center;
    
}
/* navbar */

header{
    display:flex;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    padding: 15px;
    align-items: center;
    background-color: white;
    z-index: 10;
    
}
.nav-icon img{
    max-height: 50px;
    
}
#nav-box{
  list-style: none;
  position: absolute;
 margin-left: 16%;

}
 #nav-box #nav-item{
    display: inline-block;
    padding: 0 20px 0px 20px;
    
}
#nav-box #nav-item a{
    text-decoration: none;
    color: var(--text-color);
    font-weight:600;
}
#nav-box #nav-item a:hover{
    color:var(--nex-orange) ;
}
.nav-social{
    position: absolute;
    right: 5rem;
    
 }
 .nav-social a{
    color: black;
    padding-left: 15px;
 }
 .nav-social a:hover{
    color: var(--nex-orange);
 }

 /* Home section */

 .home-section{
    position: relative;
    width: 100%;
   height: 110vh;
   background-image: url(/nexware-website/asset/home-bg.jpg);
   background-size: cover;
   overflow: visible;
   background-position: center;
   z-index: -1;
   align-items: center;
   display: flex;

   
 }
 .home-section::before{
    position: absolute;
    content: "";
    height: 110vh;
    width: 100%;
    background-color:rgb(0,0,0,0.3);
 }
 .home-section img{
 
 }
 .home-wrapper{
    position: absolute;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .home-wrapper .text1{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
 }

 .home-wrapper .text2{
    padding: 1rem 0;
    line-height: 72px;
    margin-bottom: 4%;
    font-size: 4.2rem;
    font-weight: 600;
    color: white;
    margin:0 15% 0 15%;
    
    
 }
 .home-section .home-wrapper .animated-text{

 }
 .home-section .home-wrapper .quote{
    padding: 15px 15px 15px 15px;
    letter-spacing: 1px;
 }

 /* journey-section */

 .journey-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:400px ;
    gap:10rem;
 }
 .left-box{
    display: flex;
    align-items: center;
 }
 .bracket-box{
    display: flex;
    align-items: center;
   
 }
 .bracket{
    width: 50px;
    height: 160px;
    border: 10px solid #000;
 }
 .bracket.left{
    border-right: none;
    
 }
 .bracket.right{
    border-left: none;
 }
.text-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.text-box .big{
    font-size: 5rem;
    font-weight: bolder;
}
.text-box .small-text{
    font-size: 1rem;
    font-weight: 300;
}

.middle-box{
    
}
.middle-box .since{
    margin-bottom: 20px;
    font-weight: 100;
}
.middle-box h2{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.right-box p{
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 2rem;
}
.right-box .about-link{
    color: var(--nex-orange);
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
/* services section */

.services-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:aliceblue;
    padding-top: 3rem;
}
.services-container .upper-box{
    display: flex;
    width: 100%;
    position: absolute;
    
  
    
}
.services-container .left-text{
    margin-left: 3rem;
}
.services-container .right-box{
    display: flex;
    max-width: 500px;
    position: absolute;
    top: 3rem;
    right: 0;
    
}
.services-container .services-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    margin: 1rem 3rem 1rem 3rem;
    padding: 3rem 0 3rem 0;
}
.services-container .services-cards .card{
    height: 250px;
    background-size: cover;
    background-position: center;
    position:relative;
    overflow: hidden;
    cursor: pointer;
}

.card .overlay{
    position: absolute;
    bottom:0;
    width:100%;
    padding:20px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    background-color: (0,0,0,0.3);
    line-height: 1.4;
}

/* Story section */
.story-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #2f2f36;
    color: white;
    position: relative;

}
.story-top{
    display: flex;
    height: 100px;
    margin-left: 3rem;
    margin-top: 4rem;
}
.proud{
    font-size: 4rem;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px rgb(197, 195, 195);   
}
.stories{
    font-size:4rem;

}
.story-para{
    margin-left: 25%;
    margin-right: 3rem;
    line-height: 30px;
}

.story-bottom{
    width: 100%;
    height: 350px;
    display: flex;
   
    position: relative;
    gap: 24px;
   
}
.story-box{
    display: flex;
    flex-direction: column;
    background:linear-gradient(0deg, #15151e, #2f2f36);
    padding-bottom: 45px;
    height: 170px;
    width: 270px;
    align-items: center; 
}
.story-bottom .box1{
  margin-left: 4rem; 
}
.story-bottom .box4{
    position: absolute;
    right: 4rem;
}
.story-bottom .box2,.box4{
    margin-top: 6rem;
}
.story-box .counter{
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;  
}
.upcounter{
    position: relative;
    width: 150px;
    margin-left: 25%;
   /* background-color: antiquewhite; */
   
}
.upcounter .right-number{
    position: absolute;
    top:0px;
}
.upcounter .right-number .right-sup{
    font-size: 1rem;
}
 .story-text{
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Tech stack section */
.tech-stack{
    width:100%;
    height: auto;

}
.tech-stack .top-box{
    width: 100%;
    /* height: 400px; */
    display: flex;
   flex-direction: column;
   position: relative;

}
 .top-box .top-left{
  width:40%;
  font-size: 2rem;
  margin-left: 6rem;
  margin-top: 6rem;
  font-size: 2.5rem;
  font-weight: 700;
    
}
 .top-box .top-right{
    width: 40%;
    position:absolute ;
    right: 0;
    top: 6rem;
    line-height: 30px;

}

.tech-stack-container{
    max-width:1200px;
    margin: 4rem;
    margin-bottom: 6rem;
}
.logo-grid{
    display:  grid;
    grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
    gap: 90px;
    justify-items: center;
    position: relative;
    padding: 20px;
   
}
.image-corner img{
    width: 55px;
    height: 55px;
    object-fit: contain;
    transition: transform 0.3s;
    margin-left: 35%;
    
}
.image-corner::before,.image-corner::after,.image-corner span::before,.image-corner span::after{
    height: 90px;
    width: 160px;
    content: "";
    position: absolute;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    
}
.image-corner:hover::before{
    top:0;
    left:0;
    border-color: black;
    border-right: none;
    border-bottom: none;
}
.image-corner:hover::after{
    top:0;
    left:0;
    border-color: black;
    border-left: none;
    border-bottom: none;
}
.image-corner:hover span::before{
    bottom: 0;
    left: 0;
    border-color: black;
}
.image-corner:hover span::before{
    bottom: 0;
    left: 0;
    border-color: black;
}
.image-corner::after{}
.corner1{

}
.corner2{
    top:-50px;
}
.corner3{
    top: -6rem;
}
.corner4{
    top: -9rem;
}

